@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Karla', sans-serif; */
body {
    width: 100%;
    margin-left : auto;
    margin-right : auto;
}

header{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    height: 40%;
    width: 40%;
    justify-content: space-around;
}
ul li {
    height: 100%;
}
ul li a{
    display: block;
    line-height: 39px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
}

.header-btn {
    line-height: 100px;
    width: 120px;
    border : 2px solid black;
}
.header-btn a {
    color: black;
}


/* 
Content Css
*/
/*
    part 1
*/
.content {
    width: 100%;
    height: 800px;
    position: relative;
}
.content::after{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
    content: "";
    height: 550px;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
}
.content .center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
}
.center .content-text {
    width: 60%;
    vertical-align: middle;
    float: left;
    position: relative;
}
.center .content-text:before {
    position: absolute;
    content: "";
    width: 40%;
    height: 280%;
    border-top: 1px solid white;
    border-bottom: 2px solid rgb(134, 134, 134);
    top: -20%;
    left : 0%;
    z-index: -1;
}
.center .content-text h1 , 
.center .content-text p {
    font-family: 'Karla', sans-serif;
    color : rgb(243, 243, 243);
}

.center .content-text h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    font-weight: 100;
    margin-block-end: 0px;
    margin-block-start: 0px;
    line-height: 90%;
}

.center .content-text p{
    font-size : 0.9em;
    margin-top : 30px;
    font-weight: 10;
    line-height: 180%;
    margin-bottom: 40px;
}
.center .content-img {
    width: 80%;
    margin-left: 10%;
    margin-top: 35%;
    float: left;
}
.center .content-img img {
    width: 95%;
    z-index: 1;
    position: relative;
}
.content #left{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 0%;
}
.content #right{
    position: absolute;
    z-index: 1;
    top: 0%;
    right: 0%;
}
.content .content-text .content-btn {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    padding : 9px 25px;
    color : white;
    text-transform: uppercase;
    border: 1px solid white;
}

/* Content part 2*/
.second-content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 120px;
}
.second-content h1:nth-child(1){
    font-size : 3.5rem;
    font-weight: 700;
    position: relative;
}

.second-content .introduce{
    display: flex;
    margin-top: 80px;
}
.second-content .col-4{
    font-family: 'DM Serif Display', serif;
    width: 30%;
    margin-right: 3%;
}
.second-content .introduce .title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.5rem;
}
.second-content .introduce .short-info{
    font-family: 'Karla', sans-serif;
    color : rgb(163, 163, 163);
    
}



/**/
.second-content .banner {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    position: relative;
}
.second-content .banner img {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 0;
    height: 100%;
}
.second-content .banner h1{
    width: 50%;
    font-size: 3.5rem;
    color : white;
}

.second-content .banner a{
    z-index: 1;
    width: 12%;
    height: 16%;
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
